/*Final responsive CSS by Popchev*/




@media screen and (max-width: 3000px) and (min-width: 990px) {
  		a.homeBtn {
  			margin-top:-50px;
  		}
}


@media screen and (max-width: 3000px) and (min-width: 1700px) {
  		div#aboutPage {
  			position:relative;
  			top:200px;
  		}
}


/*Desktop | vid & button responsiveness*/
@media screen and (max-width: 3000px) and (min-width: 1672px) {
      div.centered {
        margin-top:-55px;
      }

      video.video {
        overflow: hidden;
        margin-top:-100px;
      }
}



/*Homepage Scroll Button responsiveness*/
@media screen and (max-width: 1670px) and (min-width: 1px) {
  		div.centered {
  			margin-top:-75px;
  		}
}


@media screen and (max-width: 1533px) and (min-width: 1px) {
  		div.centered {
  			margin-top:-150px;
  		}
}

/*15-inch Laptop*/
@media screen and (max-width: 1700px) and (min-width: 1300px) {
      div.centered {
        margin-top:-280px;
      }

      video.video {
        overflow: hidden;
        margin-top:-65px;
      }
}

@media screen and (max-width: 1275px) and (min-width: 1px) {
  		div.centered {
  			margin-top:-300px;
  		}
}

@media screen and (max-width: 1117px) and (min-width: 1px) {
  		div.centered {
  			margin-top:-375px;
  		}
}

@media screen and (max-width: 985px) and (min-width: 1px) {
  		div.centered {
  			margin-top:-450px;
  		}
}

@media screen and (max-width: 850px) and (min-width: 1px) {
  		div.centered {
  			margin-top:-525px;
  		}
}

@media screen and (max-width: 716px) and (min-width: 1px) {
  		div.centered {
  			margin-top:-600px;
  		}
}


@media screen and (max-width: 579px) and (min-width: 1px) {
  		div.centered {
  			margin-top:-675px;
  			font-size:10px;
  		}
}


@media screen and (max-width: 437px) and (min-width: 1px) {
  		div.centered {
  			margin-top:-700px;
  			font-size:10px;
  		}
}


@media screen and (max-width: 393px) and (min-width: 1px) {
  		div.centered {
  			margin-top:-725px;
  			font-size:10px;
  		}
}

@media screen and (max-width: 339px) and (min-width: 1px) {
  		div.centered {
  			margin-top:-743px;
  			font-size:10px;
  		}
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
    div#aboutPage {
        margin-top: 185px!important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    div.googleMap {
        width: 100%;
        margin-top: -125px;
        margin-bottom: 100px;
    }
    
    .service-box h3 {
        font-size: 42px!important;
    }
}


@media only screen and (min-width: 576px) and (max-width: 767px) {
    
    div.googleMap {
        width: 100%;
        margin-top: -25px;
        margin-bottom: 100px;
    }
}


@media only screen and (min-width: 480px) and (max-width: 575px) {
    
    div#aboutPage {
        margin-top: -65px;
    }
    
    div.leftouter {
        margin-left: 30px;
    }
    
    div.googleMap {
        width: 100%;
        margin-top: -25px;
        margin-bottom: 100px;
    }
    
    footer h6.footer {
        top: 26px;
        padding: 0 10px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    
    div#aboutPage {
        margin-top: -65px;
    }
    
    div.leftouter {
        margin-left: 13px;
    }
    
    div.googleMap {
        width: 100%;
        margin-top: -25px;
        margin-bottom: 100px;
    }
    
    footer h6.footer {
        top: 26px;
        padding: 0 10px;
    }
    
    div.mapouter {
        width: 100%!important;
    }
}

@media only screen and (min-width: 0px) and (max-width: 319px) {
    
    div#aboutPage {
        margin-top: -65px;
    }
    
    div.leftouter {
        margin-left: 12px;
    }
    
    div.googleMap {
        width: 100%;
        margin-top: -25px;
        margin-bottom: 100px;
    }
    
    footer h6.footer {
        top: 26px;
        padding: 0 10px;
    }
    
    div.mapouter {
        width: 100%!important;
    }
}





